<br>
<br>
<br>
<br>
<br>
<h2>Stupid Coaching</h2>
<body>
  <div>
    <p><%= @question %></p>
    <p>- You</p>
  </div>

  <div>
    <p><%= @answer %></p>
    <p>- Your coach</p>
  </div>

  <a href=""><%= link_to "Ask a new question", ask_path %></a>
</body>

